.section-about-us {
    padding-bottom: 94px;
  }
  
  .about-us {
    display: flex;
  } 
    
  .about-us__list {
    flex-basis: calc((100% - 60px) / 3);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  
  .about-us__tumb {
    position: relative;
  }
  
  .about-us__label {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--btn-text-light);
    width: 370px;
    height: 70px;
    padding: 27px;
    background: rgba(47, 48, 58, 0.8);

    .about-us__tumb > & {
      position: absolute;
      bottom: 0;
    }
  }
  
  