.hero {
     background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
       url("../images/hero-mobile.jpg");
      background-size: cover;
      -color: #c4c4c4;
      padding-top: 118px;
      padding-bottom: 118px;
      margin: auto;
      // width: 320px;
}

@media (min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx) {
       .hero {
        background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero-mobile@2x.jpg");
      }
}      
   
.main-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 auto 30px auto;
    hyphens: none;    
}

@media screen and (min-width: 768px) {
  .hero {
      width: 768px;
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
       url("../images/hero-tablet.jpg");
  }

  @media (min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx) {
       .hero {
        background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero-tablet@2x.jpg");}
      }

      .main-title {
         width: 360px;
      }    

}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    width: 1600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
       url("../images/hero-desktop.jpg");
  }

  @media (min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx) {
        .hero {
         background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
         ),
         url("../images/hero-desktop@2x.jpg");
        }
  }

  .main-title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}